@charset "UTF-8";
/*----------reset css----------*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-family: "Noto Sans TC", "Nunito Sans", sans-serif;
  background-color: var(--page-bgc);
}

a {
  text-decoration: none;
  color: var(--black);
}

input, select {
  cursor: pointer;
}

/*-------------------*/
:root {
  --page-bgc: #ffffff;
  --step-circle-bgc-done: #333333;
  --step-line-done: #000000;
  --step-line-yet: #f0f0f5;
  --footer-bgc: #e5e5e5;
  --car-line: #f0f0f5;
  --car-bgc: #ffffff;
  --amount-btn: #f0f0f5;
  --btn-line: #e6e6eb;
  --main-txt: #2a2a2a;
  --step-circle-txt-done: #ffffff;
  --step-txt-yet: #afb1bd;
  --form-label: #808080;
  --input-border: #4a4a4a;
  --input-hover: #000000;
  --select-btn: #2a2a2a;
  --deliver-time: #000000
  --car-strong: #000000;
  --footer-txt: #808080;
  --white: #ffffff;
  --pink: #f67599;
  --logo: url(./logolight.png);
  --search: url(./search.png);
  --shopping-car: url(./shoppingcar.png);
  --mode-icon: url(./moon.png);
}

[data-theme=dark] {
  --page-bgc: #121212;
  --step-circle-done-bgc: #333333;
  --step-line-done: #ffffff;
  --step-line-yet: rgba(240, 240, 245, 0.4);
  --footer-bgc: #333333;
  --car-line: rgba(255, 255, 255, 0.2);
  --car-bgc: #383838;
  --amount-btn: #808080;
  --btn-line: rgba(255, 255, 255, 0.2);
  --main-txt: #ffffff;
  --step-circle-done-txt: #ffffff;
  --step-txt-yet: rgba(255, 255, 255, 0.4);
  --form-label: rgba(255, 255, 255, 0.4);
  --input-border: #5e5e5e;
  --input-hover: #ffffff;
  --deliver-time: rgba(255, 255, 255, 0.4);
  --select-btn: #5e5e5e;
  --car-strong: #ffffff;
  --footer-txt: rgba(255, 255, 255, 0.6);
  --logo: url(./logodark.png);
  --search: url(./search-dark.png);
  --shopping-car: url(./shopping-dark.png);
  --mode-icon: url(./sun.png);
}

/*----------width height margin padding----------*/
.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-1 {
  margin: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-1 {
  padding: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*----------display----------*/
.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/*----------繼承----------*/
header .header__container .nav .nav__right .nav--search,
header .header__container .nav .nav__right .nav--shopping-car,
header .header__container .nav .nav__right .nav--mode-changer, header .header__container .navbar__label--toggle .label--icon, header .header__container .navbar__brand {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main .main__container .form__container input,
main .main__container .form__container select {
  border: 1px solid var(--input-border);
  border-radius: 4px;
  font-size: 12px;
  padding: 12px;
  color: var(--main-txt);
  background-color: transparent;
}
main .main__container .form__container input:hover,
main .main__container .form__container select:hover, main .main__container .form__container input:focus,
main .main__container .form__container select:focus {
  border-color: var(--input-hover);
}

/*--------star(phone)--------*/
header .header__container {
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: var(--page-bgc);
}
header .header__container .navbar__brand {
  width: 135px;
  height: 24px;
  background-image: var(--logo);
}
header .header__container .navbar__label--toggle {
  position: absolute;
  top: 15px;
  left: 15px;
}
header .header__container .navbar__label--toggle .label--icon {
  width: 24px;
  height: 24px;
  background-image: url(./sort.png);
  cursor: pointer;
}
header .header__container .navbar__input {
  display: none;
}
header .header__container .navbar__input:checked ~ .nav {
  transform: scale(1, 1);
}
header .header__container .navbar__input:checked ~ .nav .nav__item, header .header__container .navbar__input:checked ~ .nav .nav__right {
  opacity: 1;
  transition: opacity 0.2s ease-out 0.15s;
}
header .header__container .nav {
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.3s ease-out;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: var(--page-bgc);
}
header .header__container .nav .nav__list {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
header .header__container .nav .nav__list .nav__item {
  padding: 24px 0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  opacity: 0;
  border-bottom: 1px solid rgba(42, 42, 42, 0.1);
}
header .header__container .nav .nav__list .nav__item a {
  color: var(--main-txt);
}
header .header__container .nav .nav__right {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  opacity: 0;
}
header .header__container .nav .nav__right .nav--search,
header .header__container .nav .nav__right .nav--shopping-car,
header .header__container .nav .nav__right .nav--mode-changer {
  width: 21px;
  height: 21px;
}
header .header__container .nav .nav__right .nav--search {
  background-image: var(--search);
  margin-right: 43px;
}
header .header__container .nav .nav__right .nav--shopping-car {
  background-image: var(--shopping-car);
  margin-right: 43px;
}
header .header__container .nav .nav__right .nav--mode-changer {
  background-image: var(--mode-icon);
  cursor: pointer;
}
header .header__container .nav .nav__right .nav--mode-changer .mode__label {
  display: inline-block;
  height: 100%;
  width: 100%;
}
header .header__container .nav .nav__right .nav--mode-changer .mode__input {
  display: none;
}

main .main__container {
  padding-top: 70px;
  margin: 0 20px;
}
main .main__container .main__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: var(--main-txt);
}
main .main__container .stepper__container {
  margin: 24px 0;
  height: 40px;
  width: 100%;
}
main .main__container .stepper__container .stepper__content {
  display: flex;
}
main .main__container .stepper__container .stepper__content .step {
  position: relative;
  flex: 1;
  text-align: center;
}
main .main__container .stepper__container .stepper__content .step:nth-child(1) .step--circle::after {
  content: "1";
  color: var(--step-txt-yet);
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}
main .main__container .stepper__container .stepper__content .step:nth-child(2) .step--circle::after {
  content: "2";
  color: var(--step-txt-yet);
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}
main .main__container .stepper__container .stepper__content .step:nth-child(3) .step--circle::after {
  content: "3";
  color: var(--step-txt-yet);
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}
main .main__container .stepper__container .stepper__content .step .step--circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--step-txt-yet);
}
main .main__container .stepper__container .stepper__content .step .step--txt {
  display: none;
}
main .main__container .stepper__container .stepper__content .step .step--line {
  display: block;
  position: absolute;
  top: 16px;
  height: 2px;
  background-color: var(--step-line-yet);
}
main .main__container .stepper__container .stepper__content .step:last-child .step--line {
  right: 40%;
  left: -20%;
}
main .main__container .stepper__container .stepper__content .step:nth-child(2) .step--line {
  right: 80%;
  left: -60%;
}
main .main__container .stepper__container .stepper__content .step.active .step--circle, main .main__container .stepper__container .stepper__content .step.checked .step--circle {
  border-color: var(--step-circle-bgc-done);
  background-color: var(--step-circle-bgc-done);
  color: var(--step-circle-txt-done);
}
main .main__container .stepper__container .stepper__content .step.active .step--line, main .main__container .stepper__container .stepper__content .step.checked .step--line {
  background-color: var(--step-line-done);
}
main .main__container .stepper__container .stepper__content .step.active .step--circle::after {
  color: var(--step-circle-txt-done);
}
main .main__container .stepper__container .stepper__content .step.checked .step--circle::after {
  content: "✔";
  color: var(--step-circle-txt-done);
}
main .main__container .form__container h3 {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: var(--main-txt);
}
main .main__container .form__container .part__row.first {
  display: flex;
}
main .main__container .form__container .row {
  margin-bottom: 24px;
  width: 100%;
}
main .main__container .form__container .row > label {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 13px;
  color: var(--form-label);
}
main .main__container .form__container .row--salutation, main .main__container .form__container .row--name {
  width: 50%;
}
main .main__container .form__container .row--salutation {
  margin-right: 20px;
}
main .main__container .form__container input,
main .main__container .form__container select {
  width: 100%;
}
main .main__container .form__container select {
  -webkit-appearance: none;
  background-color: transparent;
}
main .main__container .form__container .select-wrapper {
  position: relative;
  z-index: 0;
}
main .main__container .form__container .select-wrapper::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 15px;
  border-top: 5px solid var(--select-btn);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  transform: translateY(-50%);
}
main .main__container .form__container .deliver {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "radio way fee" "radio time .";
  border: 1px solid var(--input-border);
  border-radius: 4px;
  margin-bottom: 24px;
  padding: 7px 20px;
}
main .main__container .form__container .deliver:hover, main .main__container .form__container .deliver:focus {
  border-color: var(--input-hover);
}
main .main__container .form__container .deliver input {
  grid-area: radio;
  position: relative;
  top: 25%;
  left: 20px;
  -webkit-appearance: none;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
main .main__container .form__container .deliver input:checked {
  box-shadow: inset 0 0 0 7px var(--main-txt);
}
main .main__container .form__container .deliver .deliver--way {
  grid-area: way;
  font-size: 14px;
  line-height: 30px;
  color: var(--step-line-done);
}
main .main__container .form__container .deliver .deliver--time {
  grid-area: time;
  font-size: 12px;
  line-height: 16px;
  color: var(--deliver-time);
}
main .main__container .form__container .deliver .deliver--fee {
  grid-area: fee;
  position: relative;
  top: 8px;
  font-size: 12px;
  line-height: 16px;
  color: var(--step-line-done);
}
main .main__container .car__container {
  border: 1px solid var(--car-line);
  border-radius: 8px;
  padding: 16px;
  background-color: var(--car-bgc);
}
main .main__container .car__container h3 {
  display: none;
}
main .main__container .car__container .car__item {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 40% 1fr;
  grid-template-areas: "img name" "img amount" "img price";
  margin-bottom: 18px;
}
main .main__container .car__container .car__item img {
  width: 100%;
  grid-area: img;
}
main .main__container .car__container .car__item .item--name {
  grid-area: name;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: var(--main-txt);
}
main .main__container .car__container .car__item .item--amount {
  grid-area: amount;
  text-align: right;
}
main .main__container .car__container .car__item .item--amount .amount {
  margin: 0 25px;
  color: var(--car-strong);
}
main .main__container .car__container .car__item .item--amount .minus,
main .main__container .car__container .car__item .item--amount .plus {
  display: inline-block;
  height: 26px;
  width: 26px;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--amount-btn);
}
main .main__container .car__container .car__item .item--price {
  grid-area: price;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  color: var(--car-strong);
}
main .main__container .car__container .row {
  border-top: 1px solid var(--car-line);
  padding: 16px;
}
main .main__container .car__container .row p:first-child {
  color: var(--main-txt);
}
main .main__container .car__container .row p:last-child {
  color: var(--car-strong);
}
main .main__container .control__panel {
  margin-top: 32px;
  padding: 24px 0 40px;
  border-top: 1px solid var(--btn-line);
}
main .main__container .control__panel .btn {
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding: 15px 40px;
  height: 40px;
  line-height: 10px;
  cursor: pointer;
}
main .main__container .control__panel .btn-primary {
  color: var(--white);
  background-color: var(--pink);
}

footer {
  display: none;
}

/* ----------pc media query---------- */
@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: center;
  }
  header .header__container {
    position: relative;
    width: 85%;
    height: 75px;
  }
  header .header__container .navbar__brand {
    position: absolute;
    width: 170px;
    height: 30px;
  }
  header .header__container .navbar__label--toggle {
    display: none;
  }
  header .header__container .nav {
    all: unset;
  }
  header .header__container .nav .nav__list {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    white-space: nowrap;
  }
  header .header__container .nav .nav__list .nav__item {
    display: inline-block;
    opacity: 1;
    border-bottom: none;
  }
  header .header__container .nav .nav__list .nav__item:not(:last-child) {
    margin-right: 32px;
  }
  header .header__container .nav .nav__right {
    position: absolute;
    top: -1px;
    right: 0;
    opacity: 1;
  }
  header .header__container .nav .nav__right .nav--search,
header .header__container .nav .nav__right .nav--shopping-car {
    margin-right: 32px;
  }

  main .main__container {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 6fr 1fr 5fr;
    grid-template-rows: auto 1fr 6fr auto;
    grid-template-areas: "main-title . ." "stepper . car" "form . car" "btn . .";
  }
  main .main__container .main__title {
    grid-area: main-title;
  }
  main .main__container .stepper__container {
    grid-area: stepper;
  }
  main .main__container .stepper__container .stepper__content .step .step--txt {
    display: inline-block;
    margin-left: 10px;
    padding-top: 3px;
    color: var(--step-txt-yet);
  }
  main .main__container .stepper__container .stepper__content .step:last-child .step--line {
    right: 70%;
    left: -10%;
  }
  main .main__container .stepper__container .stepper__content .step:nth-child(2) .step--line {
    right: 90%;
    left: -30%;
  }
  main .main__container .stepper__container .stepper__content .step.active .step--txt, main .main__container .stepper__container .stepper__content .step.checked .step--txt {
    color: var(--main-txt);
  }
  main .main__container .form__container {
    grid-area: form;
  }
  main .main__container .form__container .part:first-child .part__row {
    display: flex;
    justify-content: space-between;
  }
  main .main__container .form__container .part:first-child .part__row .row--salutation {
    width: 40%;
  }
  main .main__container .form__container .part:first-child .part__row .row--phone {
    width: 40%;
    margin-right: 20px;
  }
  main .main__container .form__container .part:first-child .part__row .row--email {
    width: 60%;
  }
  main .main__container .form__container .part:first-child .part__row .row--city {
    width: 40%;
    margin-right: 20px;
  }
  main .main__container .car__container {
    grid-area: car;
  }
  main .main__container .car__container .car__content h3 {
    display: block;
    padding: 24px 32px;
    color: var(--main-txt);
  }
  main .main__container .car__container .car__content .car__item {
    display: grid;
    grid-template-columns: 40% 3fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "img item-name price" "img amount ." "img . .";
    grid-gap: 10px;
    padding: 20px;
  }
  main .main__container .car__container .car__content .car__item img {
    grid-area: img;
    width: 100%;
  }
  main .main__container .car__container .car__content .car__item .item--name {
    grid-area: item-name;
    text-align: left;
  }
  main .main__container .car__container .car__content .car__item .item--amount {
    grid-area: amount;
    text-align: left;
  }
  main .main__container .car__container .car__content .car__item .item--price {
    grid-area: price;
  }
  main .main__container .control__panel {
    grid-area: btn;
  }

  footer {
    display: block;
    width: 100%;
    height: 280px;
    margin-top: 125px;
    background-color: var(--footer-bgc);
  }
  footer .footer__container {
    width: 85%;
    margin: 0 auto;
    padding-top: 65px;
    display: grid;
    grid-template-columns: 5fr repeat(3, 3fr) auto;
    grid-template-areas: "footer-logo service about info follow";
    grid-gap: 20px;
  }
  footer .footer__container .footer--logo {
    grid-area: footer-logo;
    width: 60%;
    background-image: var(--logo);
    background-position-y: 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  footer .footer__container h4 {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
    color: var(--main-txt);
  }
  footer .footer__container .footer--service,
footer .footer__container .footer--about,
footer .footer__container .footer--info,
footer .footer__container .footer--follow {
    display: flex;
    flex-direction: column;
  }
  footer .footer__container .footer--service a,
footer .footer__container .footer--about a,
footer .footer__container .footer--info a,
footer .footer__container .footer--follow a {
    color: var(--footer-txt);
    font-size: 16px;
  }
  footer .footer__container .footer--service {
    grid-area: service;
  }
  footer .footer__container .footer--about {
    grid-area: about;
  }
  footer .footer__container .footer--info {
    grid-area: info;
  }
  footer .footer__container .footer--follow {
    grid-area: follow;
  }
  footer .footer__container .footer--follow .follow--media a {
    margin-right: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
