@charset "UTF-8";
/*----------reset css----------*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-family: "Noto Sans TC", "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--black);
}

input {
  cursor: pointer;
}

:root {
  --footer-bgc: #f6f7f8;
  --black: #2a2a2a;
  --gray: #808080;
  --dark-gray: #4a4a4a;
  --light-gray: #afb1bd;
  --light-light-gray: #f0f0f5;
  --white: #ffffff;
  --pink: #f67599;
  --logo-light: url(./logolight.png);
  --moon: url(./moon.png);
}

/*----------變數----------*/
.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-1 {
  margin: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-1 {
  padding: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*----------繼承----------*/
header .container .nav .nav-item-right-part .search,
header .container .nav .nav-item-right-part .shopping-car,
header .container .nav .nav-item-right-part .mode-changer, header .container .navbar-toggle-label .control-icon, header .container .navbar-brand {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main .container .form-container input,
main .container .form-container select {
  border: 1px solid var(--dark-gray);
  border-radius: 4px;
  font-size: 12px;
  padding: 12px;
}
main .container .form-container input:hover,
main .container .form-container select:hover, main .container .form-container input:focus,
main .container .form-container select:focus {
  border-color: var(--black);
}

/*----------display----------*/
.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

header .container {
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: var(--white);
}
header .container .navbar-brand {
  width: 135px;
  height: 24px;
  background-image: var(--logo-light);
}
header .container .navbar-toggle-label .control-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 24px;
  height: 24px;
  background-image: url(./sort.png);
  cursor: pointer;
}
header .container #nav-control {
  position: absolute;
  opacity: 0;
}
header .container #nav-control:checked ~ .nav {
  transform: scale(1, 1);
}
header .container #nav-control:checked ~ .nav .nav-item, header .container #nav-control:checked ~ .nav .nav-item-right-part {
  opacity: 1;
  transition: opacity 0.2s ease-out 0.15s;
}
header .container .nav {
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.3s ease-out;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: var(--white);
}
header .container .nav .nav-list {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
header .container .nav .nav-list .nav-item {
  padding: 24px 0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  opacity: 0;
  border-bottom: 1px solid rgba(42, 42, 42, 0.1);
}
header .container .nav .nav-item-right-part {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  opacity: 0;
}
header .container .nav .nav-item-right-part .search,
header .container .nav .nav-item-right-part .shopping-car,
header .container .nav .nav-item-right-part .mode-changer {
  width: 21px;
  height: 21px;
}
header .container .nav .nav-item-right-part .search {
  background-image: url(./search.png);
  margin-right: 43px;
}
header .container .nav .nav-item-right-part .shopping-car {
  background-image: url(./shoppingcar.png);
  margin-right: 43px;
}
header .container .nav .nav-item-right-part .mode-changer {
  background-image: var(--moon);
}

main .container {
  padding-top: 70px;
  margin: 0 20px;
}
main .container .main-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
}
main .container .stepper-container {
  margin: 24px 0;
  height: 40px;
  width: 100%;
}
main .container .stepper-container .stepper-content {
  display: flex;
}
main .container .stepper-container .stepper-content .step {
  position: relative;
  flex: 1;
  text-align: center;
}
main .container .stepper-container .stepper-content .step:nth-child(1) .circle::after {
  content: "1";
}
main .container .stepper-container .stepper-content .step:nth-child(2) .circle::after {
  content: "2";
}
main .container .stepper-container .stepper-content .step:nth-child(3) .circle::after {
  content: "3";
}
main .container .stepper-container .stepper-content .step.checked .circle, main .container .stepper-container .stepper-content .step.active .circle {
  border-color: var(--black);
  background-color: var(--black);
  color: var(--white);
}
main .container .stepper-container .stepper-content .step.checked .line, main .container .stepper-container .stepper-content .step.active .line {
  background-color: var(--black);
}
main .container .stepper-container .stepper-content .step.checked .circle::after {
  content: "✔";
}
main .container .stepper-container .stepper-content .step .circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--light-gray);
  color: var(--light-gray);
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}
main .container .stepper-container .stepper-content .step:last-child .line {
  right: 40%;
  left: -20%;
}
main .container .stepper-container .stepper-content .step:nth-child(2) .line {
  right: 80%;
  left: -60%;
}
main .container .stepper-container .stepper-content .step .step-txt {
  display: none;
}
main .container .stepper-container .stepper-content .step .line {
  display: block;
  position: absolute;
  top: 16px;
  height: 2px;
  background-color: var(--light-gray);
}
main .container .form-container h3 {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}
main .container .form-container .row {
  margin-bottom: 24px;
  width: 100%;
}
main .container .form-container .row > label {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 13px;
  color: var(--gray);
}
main .container .form-container input,
main .container .form-container select {
  width: 100%;
}
main .container .form-container select {
  -webkit-appearance: none;
  background-color: transparent;
}
main .container .form-container .select-wrapper {
  position: relative;
  z-index: 0;
}
main .container .form-container .select-wrapper::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 15px;
  border-top: 5px solid var(--black);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  transform: translateY(-50%);
}
main .container .form-container .deliver {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "radio way fee" "radio time .";
  border: 1px solid var(--light-light-gray);
  border-radius: 4px;
  margin-bottom: 24px;
  padding: 7px 20px;
}
main .container .form-container .deliver:hover, main .container .form-container .deliver:focus {
  border-color: var(--black);
}
main .container .form-container .deliver input {
  grid-area: radio;
  position: relative;
  top: 25%;
  left: 20px;
  -webkit-appearance: none;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
main .container .form-container .deliver input:checked {
  box-shadow: inset 0 0 0 7px var(--black);
}
main .container .form-container .deliver .deliver-way {
  grid-area: way;
  font-size: 14px;
  line-height: 30px;
}
main .container .form-container .deliver .deliver-time {
  grid-area: time;
  font-size: 12px;
  line-height: 16px;
}
main .container .form-container .deliver .deliver-fee {
  grid-area: fee;
  position: relative;
  top: 8px;
  font-size: 12px;
  line-height: 16px;
}
main .container .car-container {
  border: 1px solid var(--light-light-gray);
  border-radius: 8px;
  padding: 16px;
}
main .container .car-container h3 {
  display: none;
}
main .container .car-container .car-item {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: auto 1fr;
  grid-template-areas: "img name" "img amount" "img price";
  margin-bottom: 18px;
}
main .container .car-container .car-item img {
  grid-area: img;
}
main .container .car-container .car-item .item-name {
  grid-area: name;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
}
main .container .car-container .car-item .item-amount {
  grid-area: amount;
  text-align: right;
}
main .container .car-container .car-item .item-amount .amount {
  margin: 0 25px;
}
main .container .car-container .car-item .item-amount .minus,
main .container .car-container .car-item .item-amount .plus {
  display: inline-block;
  height: 26px;
  width: 26px;
  font-size: 24px;
  line-height: 22px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--light-light-gray);
}
main .container .car-container .car-item .item-price {
  grid-area: price;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
}
main .container .car-container .row {
  border-top: 1px solid var(--light-light-gray);
  padding: 16px;
}
main .container .control-panel {
  margin-top: 32px;
  padding: 24px 0 40px;
  border-top: 1px solid var(--light-light-gray);
}
main .container .control-panel .btn {
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding: 15px 40px;
  height: 40px;
  line-height: 10px;
}
main .container .control-panel .btn-primary {
  color: var(--white);
  background-color: var(--pink);
}

footer {
  display: none;
}

/* ----------pc media query---------- */
@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: center;
  }
  header .container {
    position: relative;
    width: 85%;
    height: 60px;
  }
  header .container .navbar-brand {
    position: absolute;
    width: 170px;
    height: 30px;
  }
  header .container .navbar-toggle-label {
    display: none;
  }
  header .container .nav {
    all: unset;
  }
  header .container .nav .nav-list {
    display: flex;
    position: absolute;
    top: -5px;
    left: 0;
  }
  header .container .nav .nav-list .nav-item {
    opacity: 1;
    border-bottom: none;
  }
  header .container .nav .nav-list .nav-item:not(:last-child) {
    margin-right: 32px;
  }
  header .container .nav .nav-item-right-part {
    position: absolute;
    top: -1px;
    right: 0;
    opacity: 1;
  }
  header .container .nav .nav-item-right-part .search {
    margin-right: 32px;
  }
  header .container .nav .nav-item-right-part .shopping-car {
    margin-right: 32px;
  }

  main .container {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 6fr 1fr 5fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "main-title . ." "stepper . car" "form . car" "btn . car";
  }
  main .container .main-title {
    grid-area: main-title;
  }
  main .container .stepper-container {
    grid-area: stepper;
  }
  main .container .stepper-container .stepper-content .step.checked .step-txt, main .container .stepper-container .stepper-content .step.active .step-txt {
    color: var(--black);
  }
  main .container .stepper-container .stepper-content .step .step-txt {
    display: inline-block;
    margin-left: 10px;
    padding-top: 3px;
    color: var(--light-gray);
  }
  main .container .stepper-container .stepper-content .step:last-child .line {
    right: 70%;
    left: -10%;
  }
  main .container .stepper-container .stepper-content .step:nth-child(2) .line {
    right: 90%;
    left: -30%;
  }
  main .container .form-container {
    grid-area: form;
  }
  main .container .form-container h3 {
    margin-top: 40px;
  }
  main .container .form-container .part:first-child {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "title . . . . ." "gender-name gender-name gender-name gender-name gender-name gender-name" "phone phone phone email email email" "city city address address address address";
    grid-gap: 20px;
  }
  main .container .form-container .part:first-child h3 {
    grid-area: title;
  }
  main .container .form-container .part:first-child .gender-name {
    grid-area: gender-name;
  }
  main .container .form-container .part:first-child .row.phone {
    grid-area: phone;
  }
  main .container .form-container .part:first-child .row.email {
    grid-area: email;
  }
  main .container .form-container .part:first-child .row.city {
    grid-area: city;
  }
  main .container .form-container .part:first-child .row.address {
    grid-area: address;
  }
  main .container .car-container {
    grid-area: car;
  }
  main .container .car-container .car-content h3 {
    display: block;
    padding: 24px 32px;
  }
  main .container .car-container .car-content .car-item {
    display: grid;
    grid-template-columns: auto 3fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "img item-name price" "img amount ." "img . .";
    grid-gap: 30px;
    padding: 30px;
  }
  main .container .car-container .car-content .car-item img {
    grid-area: img;
  }
  main .container .car-container .car-content .car-item .item-name {
    grid-area: item-name;
    text-align: left;
  }
  main .container .car-container .car-content .car-item .item-amount {
    grid-area: amount;
    text-align: left;
  }
  main .container .car-container .car-content .car-item .item-price {
    grid-area: price;
  }
  main .container .control-panel {
    grid-area: btn;
  }

  footer {
    display: block;
    width: 100%;
    height: 280px;
    margin-top: 125px;
    background-color: var(--footer-bgc);
  }
  footer .container {
    width: 85%;
    margin: 0 auto;
    padding-top: 65px;
    display: grid;
    grid-template-columns: 5fr repeat(3, 3fr) auto;
    grid-template-areas: "footer-logo service about info follow";
    grid-gap: 20px;
  }
  footer .container h4 {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
    color: var(--black);
  }
  footer .container .footer-logo {
    grid-area: footer-logo;
    width: 60%;
    background-image: var(--logo-light);
    background-position-y: 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  footer .container .service,
footer .container .about,
footer .container .info,
footer .container .follow {
    display: flex;
    flex-direction: column;
  }
  footer .container .service a,
footer .container .about a,
footer .container .info a,
footer .container .follow a {
    color: var(--gray);
    font-size: 16px;
  }
  footer .container .service {
    grid-area: service;
  }
  footer .container .about {
    grid-area: about;
  }
  footer .container .info {
    grid-area: info;
  }
  footer .container .follow {
    grid-area: follow;
  }
  footer .container .follow .follow-media a {
    margin-right: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
